@font-face {
    font-family:"YoungSerif" ;
    src: url(assets\fonts\young-serif\YoungSerif-Regular.ttf);
font-weight: 400;                   
    font-style: normal;
}

@font-face {
    font-family:"Outfit" ;
    src: url(assets\fonts\outfit\Outfit-VariableFont_wght.ttf);
font-weight: 400, 600, 700;
    font-style: normal;
}
*{
     line-height: 1.5;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

body {
    background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content:center;
  align-items: center;

}

img{
    border-radius: 5%;
height: auto;
width: 100%;
display: block;
}
h1 {
  font-family: "YoungSerif", serif;
  font-size: 50px;
}
h2{
    font-family: "YoungSerif", serif;
  font-size: 30px;
}
p{
    font-family: "sans-serif";
    font-size: 15px;
}

.card {
  max-width: 700px;
  margin: 0px auto;
  padding: 60px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
 
}
.preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 5%;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;


}

.prepartime {
color: hsl(332, 51%, 32%);
font-family: "outfit", sans-serif

   }
   
   .ingridi{
    color: hsl(14, 45%, 36%)
   }
   
   .instru{
    color: hsl(14, 45%, 36%)
}
.nutri{
    color:hsl(14, 45%, 36%)
}

.nutrition-table {
     width: 100%;
  border-collapse: collapse;
}

.nutrition-table td{
    padding: 12px 8px;
border-bottom: 1px solid #ddd;

}
.nutrition-table tr:last-child td {
  border-bottom: none;
}
.nutrition-table td:nth-child(2) {
    color: hsl(14, 45%, 36%);
      font-weight: bold;
      
}
@media (min-width:300px) and (max-width:770px){
 body {
        background-color: white;
        padding: 0;
        display: block; 
        min-height: auto;
    }
    
    .card {
        max-width: 100%;
        padding: 30px 20px;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    
    img {
        border-radius: 0;
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    h1 {
        font-size: 34px;
        white-space: normal;
        margin-bottom: 15px;
    }
    
    h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    
    h3 {
        font-size: 20px;
    }
  
    p, li, td {
        font-size: 15px;
    }
    
    .preparation {
        padding: 18px;
        margin: 25px 0;
        border-radius: 15px;
    }
    
    ul, ol {
        padding-left: 20px;
    }
    
    li {
        margin-bottom: 8px;
    }
    
    .nutrition-table td {
        padding: 12px 0;
        font-size: 15px;
    }

    footer {
        margin-top: 35px;
        font-size: 13px;
        padding-top: 15px;
    }
}

@media (max-width: 360px) {
    .card {
        padding: 20px 15px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .preparation {
        padding: 15px;
    }
}
